body {
  font-size: 2rem;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  min-height: 1rem;
}

.deck {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 10rem;
}